/*BUTTONS*/
.searchbutton, .searchbar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
  width: 26px;
  border: none;
  border-radius: 5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: silver;
  color: white;
  cursor: pointer;
}

.searchbutton:hover, .searchbar button:hover {
  background-color: #a3a3a3;
}

.searchbutton:active, .searchbar button:active {
  background-color: silver;
}

.searchbutton img, .searchbar button img {
  width: 12px;
  height: 12px;
  -webkit-user-drag: none;
}

.button1, .recipe button, .about-container .about-text-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
  width: 100px;
  border: none;
  border-radius: 5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: #6e6e67;
  color: white;
}

/*ARROW BUTTON ON SLIDE SECTION*/
.arrow-slide-button, .container-slides .arrow1, .container-slides .arrow2 {
  background: rgba(54, 54, 54, 0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0.5em;
  padding-left: 0.2em;
  /*arrows inside the button*/
}

.arrow-slide-button .rectangle-inside1, .container-slides .arrow1 .rectangle-inside1, .container-slides .arrow2 .rectangle-inside1, .container-slides .arrow1 .rectangle1, .container-slides .arrow2 .rectangle1 {
  border-radius: 2em;
  width: 25px;
  height: 7px;
  background: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 0.4em;
}

.arrow-slide-button .rectangle-inside2, .container-slides .arrow1 .rectangle-inside2, .container-slides .arrow2 .rectangle-inside2, .container-slides .arrow1 .rectangle2, .container-slides .arrow2 .rectangle2 {
  border-radius: 2em;
  width: 25px;
  height: 7px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*circles scroll in the bottom*/
.circles-section, .container-slides .circles {
  width: 150px;
  height: 30px;
}

.circles-section .c1, .container-slides .circles .c1, .container-slides .circles .circle1, .container-slides .circles .circle2, .container-slides .circles .circle3 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid;
  border-width: 0.15em;
  border-color: white;
}

.circles-section .c1:hover, .container-slides .circles .c1:hover, .container-slides .circles .circle1:hover, .container-slides .circles .circle2:hover, .container-slides .circles .circle3:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.circles-section .c1:active, .container-slides .circles .c1:active, .container-slides .circles .circle1:active, .container-slides .circles .circle2:active, .container-slides .circles .circle3:active {
  border-color: #bbbbbb;
  background: #bbbbbb;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

/*CLOSE BUTTON AT SIDE-BAR*/
.close-x, .side-bar .close-sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  text-align: center;
  background: #747474;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.close-x .line-x1, .side-bar .close-sidebar .line-x1, .side-bar .close-sidebar .line1, .side-bar .close-sidebar .line2 {
  position: absolute;
  border-radius: 2em;
  background-color: white;
  width: 4px;
  height: 25px;
}

.close-x:hover, .side-bar .close-sidebar:hover {
  cursor: pointer;
  background-color: #575757;
}

.close-x:active, .side-bar .close-sidebar:active {
  background-color: silver;
}

.container-slides {
  background-color: #8d8d8d;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-slides .arrow1 {
  position: absolute;
  left: 15px;
}

.container-slides .arrow1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.container-slides .arrow1:active {
  background: silver;
}

.container-slides .arrow2 {
  position: absolute;
  right: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container-slides .arrow2:hover {
  -webkit-transform: scale(1.1) rotate(180deg);
          transform: scale(1.1) rotate(180deg);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.container-slides .arrow2:active {
  background: silver;
}

.container-slides .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: -45%;
}

.container-slides .circles .circle1, .container-slides .circles .circle2, .container-slides .circles .circle3 {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.navbar {
  background: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1d1d1d;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
  color: #1d1d1d;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar a:hover {
  color: #636363;
}

.burgerbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 20px;
  cursor: pointer;
}

.burgerbar:hover a {
  background-color: #636363;
}

.burgerbar a {
  border-radius: 2em;
  width: 25px;
  height: 3px;
  margin: 2.5px;
  background-color: #1d1d1d;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20px;
  padding: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5em;
  width: 255px;
  height: 34px;
}

.searchbar input {
  border: solid;
  height: 30px;
  border: none;
  border-radius: 5em;
  padding: 0.4em;
  margin-right: -30px;
  width: 255px;
  text-align: center;
  outline: none;
  background: white;
}

.searchbar button {
  /*Get the button from Variables.scss files*/
}

.all-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.all-containers .recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.all-containers .recipes a {
  text-decoration: none;
  color: black;
  margin-left: 2em;
  margin-right: 2em;
}

.all-containers .see-all-recipes {
  top: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.all-containers .see-all-recipes a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.all-containers .see-all-recipes:hover {
  text-decoration: underline;
}

/*Recipe Pattern style*/
.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background: rgba(145, 145, 145, 0.8);
  border-radius: 0.5em;
  width: 250px;
  height: 300px;
}

.recipe button {
  margin-bottom: 40px;
}

.recipe:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  /*idea is to shows the recipe image*/
  background-color: #c72d2d;
}

.recipe h1 {
  font-size: 25px;
}

.recipe p {
  font-size: 15px;
  margin-bottom: 20px;
}

.footer-container {
  background-color: #505050;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content-inside {
  color: white;
  font-size: 12px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 120vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("/src/images/kitchen_bg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/src/images/kitchen_bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container .about-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.about-container .about-text-content h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

.about-container .about-text-content p {
  margin-bottom: 25px;
  font-size: 20px;
}

.about-container .about-text-content a {
  width: 400px;
  height: 70px;
  background-color: rgba(95, 95, 95, 0.5);
  margin-top: 80px;
  color: white;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.about-container .about-text-content a:hover {
  background-color: rgba(63, 63, 63, 0.5);
}

.about-container .about-text-content a:active {
  background-color: rgba(110, 110, 110, 0.5);
}

.side-bar {
  background-color: rgba(39, 39, 39, 0.8);
  top: 0;
  z-index: 1;
  /*TURN IT BACK TO FLEX*/
  display: none;
  position: fixed;
  height: 100%;
  width: 400px;
}

.side-bar .close-sidebar {
  margin: 10px;
}

.side-bar .close-sidebar .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.side-bar .close-sidebar .line2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: #d1d1d1;
}
/*# sourceMappingURL=App.css.map */