.about-container{
    @include flexCenter();
    height: 120vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url("/src/images/kitchen_bg.jpg");      
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;    
    .about-text-content{

        @include flexCenter();
        flex-direction: column;         
        color: white;
        h1{
            font-size: 80px;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 25px;
            font-size: 20px;
        }
        a{ 
            @extend .button1;
            width: 400px;
            height: 70px;
            background-color:rgba(95, 95, 95, 0.5);
            margin-top: 80px;
            color: white;
            font-size: 22px;
            display: flex;
            text-decoration: none;
            &:hover{
                background-color: rgba(63, 63, 63, 0.5);
            }&:active{
                background-color:rgba(110, 110, 110, 0.5);
            }
        }

    }    
}